
@{
    ViewData["Title"] = "Index";
	ViewBag.Title = "Home page";
}
		
		<title>Pet store: @ViewBag.Title</title>
		<div class="col-md-6">
			<h2>Pet store</h2>
			
				<div class="product-info">
					<img class="img-fluid" src="~/images/hamster.jpg" />
					<h3> Hamster</h3>
					<ul>
						<li>Price : 5</li>
						<li>Gender : m</li>
						<li>Name : goshko</li>
						<li>Description: ape</li>

					</ul>
					<button class="btn btn-success">Buy</button>
				</div>
			
		</div>

